name: Build and Push Image
on:
  push:
    branches: ['main']
    tags: ['v*']
  pull_request:
    branches: ['main']

jobs:
  build-and-push:
    name: Build image
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build Image
      id: build-image
      uses: redhat-actions/buildah-build@v2
      with:
        image: wasp-agent
        tags: latest ${{ github.sha }}
        containerfiles: |
          ./Containerfile

    - name: Push To quay.io
      if: ${{ github.ref == 'refs/heads/main' || github.event_name == 'release' }}
      id: push-to-quay
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ steps.build-and-push.outputs.image }}
        tags: ${{ steps.build-and-push.outputs.tags }}
        registry: quay.io/openshift-virtualization
        username: openshift-virtualization+wasp_agent_gh_workflow
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - name: Print image url
      if: ${{ github.ref == 'refs/heads/main' || github.event_name == 'release' }}
      run: echo "Image pushed to ${{ steps.push-to-quay.outputs.registry-paths }}"
